body{
    background-color: white;
}

h1{
    font-size: 100px;
    color: black;
    }
h2{
    color: navy;
    }

.Big{
    font-size: 60px;
    }
.uppercase{
    text-transform: uppercase;
    }

.Big.uppercase{
    color: orange;
    }
h1 span{
    color: violet;
    }